extends layout

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
    != messages('message', locals)
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2 Dashboard 
      h6  Welcome #{user.fullname}
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.mr-2
          button.btn.btn-sm.btn-outline-secondary Share
          button.btn.btn-sm.btn-outline-secondary Export
        button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
          span(data-feather='calendar')
          |                 This week
    canvas#myChart.my-4.w-100(width='900', height='380')
