doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='/custom-style/style.css' type='text/css')
    link(rel='stylesheet' href='/custom-style/dashboard.css' type='text/css')
    link(rel='stylesheet' href='/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css' type='text/css')
  body
    .d-flex.flex-column.flex-md-row.fixed-top.align-items-center.p-3.px-md-4.mb-3.bg-dark.border-bottom.shadow
      h5.my-0.mr-md-auto.font-weight-normal.text-white #{title}
      nav.my-2.my-md-0.mr-md-3.topheaderlink
        if user 
          //a.p-2.text-white(href='/customer/register') Add Customer
          a.p-2.text-white(href='/users/logout')
            |                   Logout   
            span(data-feather='log-out')
        else
          a.p-2.text-dark(href='/users/login') Login
          a.btn.btn-outline-primary(href='/users/newuser') Sign up
          
        //a.p-2.text-dark(href='/new/customer/register') Add New Customer
        //a.p-2.text-dark(href='#') Messages
        //a.p-2.text-dark(href='#') Support
    .container-fluid.main-wrapp-home
      .container.float-left
        nav.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            ul.nav.flex-column
              li.nav-item
                a.nav-link.active(href='/users/dashboard/home')
                  span(data-feather='home')
                  |                   Dashboard
                  span.sr-only (current)
              if user.role == "admin" 
                li.nav-item
                  a.nav-link(href='/users/dashboard/marketers')
                    span(data-feather='users')
                    |                   Marketers
                li.nav-item
                  a.nav-link(href='/users/dashboard/newuser')
                    span(data-feather='user-plus')
                    |                   Add New Marketer
              else
               
              li.nav-item
                  a.nav-link(href='/users/dashboard/welcome')
                    span(data-feather='users')
                    |                   Customers
              li.nav-item
                a.nav-link(href='/customer/register/')
                  span(data-feather='user-plus')
                  |                   Add New Customer
              li.nav-item
                a.nav-link(href='/users/dashboard/payment')
                  span(data-feather='dollar-sign')
                  |                   Payment
              li.nav-item
                a.nav-link(href='/users/dashboard/home')
                  span(data-feather='bar-chart-2')
                  |                   Reports
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='layers')
                  |                   Integrations
              h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Saved reports
                a.d-flex.align-items-center.text-muted(href='#')
                  span(data-feather='plus-circle')
              ul.nav.flex-column.mb-2
                li.nav-item
                  a.nav-link(href='#')
                    span(data-feather='file-text')
                    |                   Current month
                li.nav-item
                  a.nav-link(href='#')
                    span(data-feather='file-text')
                    |                   Last quarter
                li.nav-item
                  a.nav-link(href='#')
                    span(data-feather='file-text')
                    |                   Social engagement
                li.nav-item
                  a.nav-link(href='#')
                    span(data-feather='file-text')
                    |                   Year-end sale
            //p.pt-15 Copyright &copy; Incode-Nation
          
    
        //nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      block content
      br
    script(type="text/javascript" src='/bower_components/jquery/dist/jquery.min.js')  
    script(type="text/javascript" src='/js/main.js')
    <!-- Placed at the end of the document so the pages load faster -->
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')  
    script.
     window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='../../assets/js/vendor/popper.min.js')
   
    script(type="text/javascript" src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type="text/javascript" src='/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
    script.
      let mySlider = $("input.slider").slider();
      let value = mySlider.slider('getValue');
      mySlider
        .slider('setValue', 5)
        .slider('setValue', 7);
    
    script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
    script.
     feather.replace()
    
      // Graphs
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
    script.
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
      type: 'line',
      data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
      data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
      lineTension: 0,
      backgroundColor: 'transparent',
      borderColor: '#007bff',
      borderWidth: 4,
      pointBackgroundColor: '#007bff'
      }]
      },
      options: {
      scales: {
      yAxes: [{
      ticks: {
      beginAtZero: false
      }
      }]
      },
      legend: {
      display: false,
      }
      }
      });
